function Loading() {
  return (
    <div style={{ 
      display: 'flex', 
      justifyContent: 'center', 
      alignItems: 'center', 
      height: '100vh' 
    }}>
      <div style={{ textAlign: 'center' }}>
        <div className="spinner" />
        <p>Loading...</p>
      </div>
    </div>
  )
}

export default Loading